{% extends 'selecao/base.html' %}
{% block content3 %}
    <div class="container">
        <p>
        <div class="alert alert-dark" role="alert">
            Services----
        </div>
        </p>
        <h3>
            <div class="alert alert-dark" role="alert">
                WHAT WE DO OFFER
            </div>
        </h3>
        <div class="row">
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 30rem;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="bag.png" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">

                                <h5 class="card-title">

                                    <div class="alert alert-primary" role="alert">
                                        Lorem Ipsum
                                    </div>
                                </h5>
                                <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sit occaecati cupiditate non provident</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 30rem;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <div class="alert alert-primary" role="alert">
                                        Dolor Sitema
                                    </div>
                                </h5>
                                <p class="card-text">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat tarad limino ata</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card mb-3" style="max-width: 30rem;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <div class="alert alert-primary" role="alert">
                                        Sed ut perspiciatis
                                    </div>
                                </h5>
                                <p class="card-text">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat tarad limino ata</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 30rem;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sed ut perspiciatis
                                    <div class="alert alert-primary" role="alert">
                                        Sed ut perspiciatis
                                    </div>
                                </h5>
                                <p class="card-text">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat tarad limino ata</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 30rem;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <div class="alert alert-primary" role="alert">
                                        Sed ut perspiciatis
                                    </div>
                                </h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 30rem;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <div class="alert alert-primary" role="alert">
                                        Sed ut perspiciatis
                                    </div>
                                </h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}